* {
		box-sizing: border-box;
	}
	.left_side {
		width: 40% ;
 		float: left ;
		padding: 15px ;
	}
	.right_side {
		width: 40% ;
		float: left ;
		padding: 15px ;
	}
	.announcement {

 		float: middle ;
		padding: 15px ;
		border: 1px solid #005a8b ;
		background-color: rgba(0,89,140,.8);
		color: white;

	}
	.news {

}
nav ul li {
	list-style-type: none;
    width: 150px;
	float: left;
    text-align: center;
}
li a {
	text-decoration: none;
    color: white;
    line-height: 50px;
    display: block; 
}
li a:hover {
	background-color: yellow;
    color: green;
}
</style>
<body style="background-color: white">
</body>